* {
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 16px;
}
.weather-card {
  width: 325px;
  height: 485px;
  background: white;
  border-radius: 20px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 30px 10px rgba(203,203,199,0.38);
}
.weather-card-landmark {
  width: 350px;
  height: 250px;
  position: relative;
  overflow: hidden;
}
.weather-card-cityname {
  color: yellow;
  text-transform: uppercase;
  text-align: center;
}
.weather-card-cityname h1 {
  font-size: 1em;
  letter-spacing: 4px;
  font-family: primary;
  text-align: center;
}
.location {
  float: right;
  padding: 20px;
}
.weather-card-details {
  color: black;
  font-size: 0.6em;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: primary;
  font-weight: 300;
  text-align: center;
}
.weather-card-temperature {
  width: 90%;
  position: absolute;
  bottom: 3em;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-family: primary;
  color: red;
}
.weather-card-temperature ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.weather-card-temperature ul li {
  display: inline-block;
  width: 20%;
  float: left;
  text-align: center;  
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Celsius { 
  position: absolute;
  font-size: 50px;
  left: 0.5em;
  top: 0.3em;
}
.Fahrenheit { 
  position: absolute;
  font-size: 50px;
  left: 3.5em;
  top: 0.3em;
}
.Celsius:after { 
  content: "°C";
  position: absolute;
  font-size: 30px;
  top: -0.2em;
  right: -1.0em; 
}
.Fahrenheit:after {
  content: "°F";
  position: absolute;
  font-size: 30px;
  top: -0.2em;
  right: -1.0em; 
}
.vl {
  border-left: 3px solid white;
  height: 300%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 1;
}
.bottom-card {
  position: absolute;
  width: 100%;
  height: 90px;
  bottom: 0;
  left: 0;
  background: skyblue;
  background-size: 100%;
  background-position: bottom center;
  background-repeat: no-repeat;
}